@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Checker</h1>
    <p>Restaurant Kitchen and Order Manager system<br/>
        <i>save your chefs the time, put cooking in the spotlight</i></p>
</div>
