@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-image:url('images/bg.jpeg'); opacity: 80%; font-weight:700;">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br class="hidden-lg" />
    <h1 class="display-4"><b>Checker</b></h1>
    <p>Restaurant Kitchen and Order Manager system<br/>
        <i>save your chefs the time, put cooking in the spotlight</i></p>
        <br />
        
</div>

<div dir="rtl" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">


<div>
<h2>תפקיד האפליקציה</h2>
<p>
לאפליקציה כמה וכמה תפקידים אשר התפקיד העיקרי הוא לבנות את המסעדה ולהפעיל אותה ע"י מנהל המסעדה <br>
במהלך בניית המסעדה, המשתמש יצטרך להזין נתונים על המסעדה:
<ul>
<li>
פסים:פס חם/ פס קר/ פס בשר/ פס טבעוני
</li>
<li>
פסי הוצאה
</li>
<li>
כלי הכנה אשר משמשים להכנת המנות
</li>
<li>
מנות:זמן הכנה/ שם / מחיר
</li>
</ul>

כמובן שרק למנהל יש הרשאות לפעולות אלו 
הבטחת הרשאות מיוחדות אלו נעשית על ידי כניסה באמצעות שם משתמש וסיסמא  
</p>
</div>

<div>
<h2>התממשקות האפליקציה מול האפליקציות האחרות:</h2>
<p>
אפליקציית המנהל מתממשקת מול השרת שלנו אשר מחזיק DB של מנות/ פסים/ פסי הוצאה/ מכיני מנות ועוד. <br>
כל פעולה אשר המשתמש מבצע באפליקציה, האפליקציה מתממשקת לשרת וכותבת את הנתונים ככה שהם ישמרו <br> 
ובפעם הבאה שהמשתמש ירצה להשתמש באפליקציה, להוסיף או להוריד מנה למשל,<br /> אזי הנתונים של המסעדה שלו השמרו במערכת והוא ימשיך מאותה נקודה שהוא הפסיק בפעם הקודמת שהוא השתמש באפליקציה
</p>
</div>

<div>
<h2>הflow של האפליקציה:</h2>
<p>
תהליך יצירת מסעדה חדשה והפעלת כרוך בכמה וכמה שלבים שעל המשתמש לעבור:
<ol>
<li>מתמש חדש באפליקציה יצטרך קודם להירשם אליה עם אימייל עדכני, סיסמא, ושם מסעדה <br>
לאחר שהמשתמש הכניס את הנתונים ונרשם, זאת כמובן אם האימייל נכון ואינו קיים במערכת כבר, המשתמש יקבל מייל לתיבת הדואר שלו אשר נותן אינדיקציה לזה שהוא נרשם בהצלחה </li>
<li>לאחר ההרשמה, המשתמש יעבור שלבים של הכנסת נתונים על המטבח של המסעדה<br>
המשתמש יעדכן את הפסים/פסי הוצאה/מנות/מכיני מנות ועוד של המסעדה וככה יבנה את המטבח<br>
חשוב לציין כי המשתמש יכול לעדכן את הנתונים בכל רגע נתון ולשנות/להוריד אותם.</li>
<li>לאחר הכנסת הנתונים על המטבח של המסעדה, המשתמש יפעיל את המסעדה על ידי שם משתמש וסיסמא אשר הנפיק כבר בשלב 1 והנתונים ישמרו בהצלחה!</li>
</ol>

</p>
</div>

<div>

<h2>פיצ'רים מיוחדים למשתמש שיש לאפליקציה להציעה:</h2>
<p>
אפליקציית המנהל עוקבת אחרי כמות המנות שהוכנו וזמני הכנת המנות ובכך נותנת סטטיסטיקות על המנות.
הטבלה המוצעת למשתמש מציגה:
<ul>
<li>
את כמות הפעמים שהזמינו כל מנה ומנה בחודש האחרון
</li>
<li>
זמני ההכנה באופן ממוצע בחדש האחרון 
</li>
<li>
כמה מנות הוזמנו חודש שעבר לעומת החודש הנוכחי אשר ההפרש מוצג באחוזים
</li>
<li>
אילו מנות הוזמנו הכי הרבה מכל סוג מנה
</li>
</ul>
</p>
</div>

<div>
    <h2>תמונות מהאפליקציות השונות:</h2>
    <h3>מסך טבח:</h3>
    <img src="images/WhatsApp Image 2022-08-29 at 13.32.05.jpeg" style="max-width:700px; max-height:contain" />
    <h3>מסך מלצר:</h3>
    <img src="images/WhatsApp Image 2022-08-29 at 13.31.20.jpeg" style="max-width:700px; max-height:contain"/>
    
</div>

</div>
