@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>There are currently no privacy concerns in using the website.<br /> Use of the applications may require certain permissions from the user.</p>
