@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">Description</div>
            <div class="col-4"><input type="text" id="desc" /></div>
        </div>
        <div class="row">
            <div class="col-2">Date</div>
            <div class="col-4"><input type="datetime" id="date" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="todosList"></ul>
        </div>
    </div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/todos.js"></script>
